{% extends 'base.html.twig' %}

{% block title %}{{ 'event_type.title' | trans }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">
            {{ 'event_type.title' | trans }}
        </h1>
    </div>
{% endblock %}